* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
}

.btn {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: #fff;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
}
.btn-azure {
  background-color: rgb(11, 69, 127);
  padding: 8px 42px;
}
.btn-azure:hover {
  background-color: rgb(0, 108, 216);
}
.btn-transparent {
  line-height: 17px;
  background-color: transparent;
  padding: 14px 28px;
  border: 1px solid #fff;
}
.btn-transparent:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.burger {
  width: 26px;
  height: 18px;
  cursor: pointer;
  position: relative;
}
.burger-line {
  transition: all 0.3s;
  height: 2px;
  width: 100%;
  background-color: rgb(11, 69, 127);
  position: absolute;
}
.burger-line-first {
  top: 0;
}
.burger-line-second {
  top: 8px;
}
.burger-line-end {
  bottom: 0;
}
.burger--open > .burger-line-first {
  top: 8px;
  transform: rotate(135deg);
}
.burger--open > .burger-line-end {
  bottom: 8px;
  transform: rotate(-135deg);
}
.burger--open > .burger-line-second {
  opacity: 0;
}

.header {
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.15);
  background: rgb(251, 251, 251);
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0px;
}
.header-menu {
  display: flex;
  align-items: center;
  gap: 50px;
}
.header-footer {
  padding: 12px 0px 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-footer-info {
  display: flex;
  gap: 32px;
}
.header-hr {
  background: rgb(206, 206, 206);
}

.nav {
  display: flex;
  gap: 32px;
}
.nav-link {
  text-decoration: none;
  font-size: 13px;
  font-weight: 400;
  line-height: 150%;
  color: rgb(102, 102, 102);
}

.info-item {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
}
.info-item__title {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.5px;
  color: rgb(102, 102, 102);
}

.services {
  padding-top: 56px;
}
.services__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  color: rgb(62, 62, 62);
  margin: 0px;
  margin-bottom: 32px;
}
.services-item {
  border-radius: 12px;
  background: linear-gradient(87.14deg, rgba(18, 18, 18, 0.6) 3.289%, rgba(0, 0, 0, 0) 96.307%), url("../images/services-bg.png"), rgb(217, 217, 217);
  position: relative;
  overflow: hidden;
  padding: 32px;
}
.services-item__title {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: rgb(255, 255, 255);
  margin-bottom: 12px;
  position: relative;
  z-index: 1;
}
.services-item__subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: rgb(255, 255, 255);
  margin-bottom: 32px;
  position: relative;
  z-index: 1;
}
.services-item__btn {
  position: relative;
  z-index: 1;
}
.services-item__img {
  position: absolute;
  z-index: 1;
}
.services-item-bg-icon {
  position: absolute;
  background-color: rgba(18, 18, 18, 0.3);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
.services-list {
  display: grid;
  grid-template-areas: "diagnostics online estimation" "diagnostics booking estimation";
  grid-template-rows: 250px 250px;
  gap: 12px;
}
.services-diagnostics {
  grid-area: diagnostics;
}
.services-diagnostics > .services-item__img {
  bottom: 13px;
  left: 10px;
}
.services-online {
  grid-area: online;
  background: linear-gradient(87.14deg, rgba(18, 18, 18, 0.6) 0.831%, rgba(0, 0, 0, 0) 99.067%), url("../images/services-bg.png"), rgb(217, 217, 217);
}
.services-online > .services-item__img {
  bottom: -20px;
  right: -50px;
}
.services-online > .services-item-bg-icon {
  width: 195px;
  height: 195px;
  bottom: 0;
  right: 50px;
}
.services-booking {
  grid-area: booking;
  background: url("../images/services-bg.png"), linear-gradient(87.14deg, rgba(18, 18, 18, 0.6) 0.831%, rgba(0, 0, 0, 0) 99.067%), rgb(217, 217, 217);
}
.services-booking > .services-item__img {
  bottom: -50%;
  right: -5px;
}
.services-estimation {
  grid-area: estimation;
}
.services-estimation > .services-item__img {
  bottom: 20px;
  right: 0px;
  max-width: 347px;
}
.services-estimation > .services-item-bg-icon {
  width: 331px;
  height: 331px;
  bottom: -50px;
  left: -50px;
}/*# sourceMappingURL=style.css.map */