*
    padding: 0
    margin: 0
    outline: none
    box-sizing: border-box

@mixin font($size, $weight, $line: 1.2, $color: #fff)
    font-size: $size
    font-weight: $weight
    line-height: $line
    color: $color

    